.container {
  width: 100%;
  flex: 1;
}

.pListItem {
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  flex: 1;
}

.pListTitle h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.pListImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .pListImg {
    height: 150px;
  }
}
