.container {
  position: absolute;
  z-index: 100;
  display: flex;
  background-color: rgba(0, 0, 0, 0.406);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3%;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
  position: relative;
  gap: 1%;
  height: 50vh;
}

.wrapper h1 {
  margin-top: 5%;
}

.close {
  position: absolute;
  top: 3%;
  right: 5%;
}

.item {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 2%;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rooms {
  display: flex;
  gap: 5px;
  width: 100%;
}

.rooms label {
  font-weight: 300;
  font-size: 1rem;
}

.title {
  font-weight: bold;
}

.description {
  font-weight: 300;
}

.maxPeople {
  font-size: 1rem;
}

@media (min-width: 450px) {
  .wrapper {
    height: 40vh;
  }

  .close {
    top: 5%;
  }
}
