.headerSearch {
  background-color: white;
  border: 3px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  border-radius: 5px;
  max-width: 1024px;
  margin-top: 5%;
}

.headerBtn {
  background-color: var(--btn-color);
  color: white !important;
}

@media (max-width: 768px) {
  .headerSearch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }

  .destination {
    grid-area: 3/1/4/2;
    align-self: center;
    justify-self: center;
    padding: 2%;
    width: 100%;
    flex: 1;
  }

  .calendar {
    grid-area: 1/1/2/3;
    align-self: center;
    justify-self: center;
    padding: 2%;
    width: 100%;
  }
  .numPpl {
    grid-area: 2/1/3/3;
    align-self: center;
    justify-self: center;
    padding: 2%;
    width: 100%;
  }
  .headerSearchItem {
    grid-area: 3/2/4/3;
    width: 100%;
    flex: 1;
  }

  .headerBtn {
    width: 100%;
  }
}
