.listContainer {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 1% 2%;
  border-radius: 10px;
  top: 10px;
  height: max-content;
  margin-bottom: 5%;
}

.listResult {
  display: flex;
  flex-direction: column;
  flex: 3;
}

@media (min-width: 450px) {
  .listWrapper {
    display: flex;
    flex-direction: row;
  }

  .listResult {
    margin-left: 5%;
  }
}

@media (min-width: 768px) {
  .listContainer {
    justify-content: center;
    align-items: center;
    padding: 3%;
  }
  .listWrapper {
    max-width: 1024px;
  }
}
